body{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  background : linear-gradient(90deg,rgb(75, 75, 69) 0%,rgb(103, 250, 135) 100%);
}
.particles{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}