.imagebox{
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}
.image{
  width: 500px;
  height: auto;
  position: absolute;
}
.bounding-box{
    position: absolute;
    box-shadow: 0 0 0 3px #149df2 inset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
}
